.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

/* Caption text */
.text {
  color: var(--bg);
  padding: 0em 1.5em;
  position: relative;
  bottom: 27em;
  width: 38%;
  text-align: left;
  line-height: 1.1;
}

.numbertext {
  color: var(--bg);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--hero_active);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: var(--hero_active);
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.slideHeight {
  height: 57vh;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}
